<%= form_for @comment do |form| %>
  <%= form.hidden_field :cake_id %>
  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
