<%= form_with(model: @cake, multipart: true) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <label>Theme</label>
  <%= collection_select :cake, :theme, Theme.all, :id, :name, include_blank: true %>

  <p>
    <label>My Avatar</label>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </p>

  <label>Show on homepage? </label>
  <%= f.check_box :show_on_homepage, {}, true, false %>

  <% if cake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cake.errors.count, "error") %> prohibited this cake from being saved:</h2>

      <ul>
      <% cake.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
