<p id="notice"><%= notice %></p>

<div>Title: <%= @cake.title %></div>
<div>Description: <%= @cake.description %></div>
<div>Theme: <%= @cake.theme %></div>

<div>Related Cakes:</div>
<div>
  <ul>
  <% @related_cakes.each do |related| %>
    <li>
      <%= related.title %><%= link_to 'Check it out', related %>
    </li>
  <% end %>
  </ul>
</div>

<%= link_to 'Back', cakes_path %>
