<p id="notice"><%= notice %></p>

<div>Title: <%= @cake.title %></div>
<div>Description: <%= @cake.description %></div>
<div>Theme: <%= @cake.theme %></div>

<% if can? :manage, @cake %>
 <%= render('cakes/edit_destroy_cakes', cake: @cake) %>
<% end %>

<h2>Comments</h2>
  <% if @comments.any? %>
  <%= render 'cakes/display_comments', comments: @comments %>
  <% else %>
    <div>Be the first to comment!</div>
  <% end %>

<% if user_signed_in? %>
<%= render 'comments/form', comment: @comment %>
<% end %>

<% unless @related_cakes.empty? %>
<div>Related Cakes:</div>
  <%= render 'list_cakes', cakes: @related_cakes %>
<% end %>
